/* === PAGE FONT IMPORT (FONT-FAMYLI) === */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');





/* === HTML TAGS STYLIZATION === */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'New Rocker', cursive;
  -webkit-font-smoothin: antialised;
  text-rendering: optimizeLegibility;
}

h1, h3, h4, a, p, button, strong, span {
  color: rgb(201, 204, 207);
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color:	rgba(0, 0, 0, 0.904);
}






/* === HEADER STYLIZATION === */
.slogan {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slogan a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan i {
  font-size: 24px;
  margin-right: 8px;
}

.slogan .voltar:hover {
  transition: .2s;
  color: #fff;
}

.slogan .guitart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan .guitart div {
  margin: 8px 0;
}

.slogan .guitart h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan .slogan-guitart a, i {
  color: rgb(201, 204, 207);
  text-decoration: none;
}

.slogan .slogan-guitart a, i:hover {
  transition: .2s;
  color: #fff;
}





/* === TOP MENU STYLIZATION === */
.top-content {
  background-color: rgba(85, 20, 20, 0.747);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4%;
}

.top-content a {
  color: rgb(201, 204, 207);
}

.top-content a, p:hover {
  transition: .2s;
  color: #fff;
}

.top-content .logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 2px;
  margin-left: 12px;
}

.top-content .right-icons {
  display: flex;
  align-items: center;
  justify-content: center;

}

.top-content .right-icons a {
  margin-right: 12px;
}

.top-content .right-icons i:hover {
  transition: .2s;
  color: #fff;
}





/* === TITLE STYLIZATION === */
.bottom-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 22px 0 26px 0;
}

.bottom-title p {
  font-size: 24px;
  margin: 20px 0 35px 0;
}





/* === CART STYLIZATION === */
.content {
  display: grid;
  grid-template: 1fr;
  align-items: center;

  margin: 0 auto;

  width: 100vw;
  max-width: 1000px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  margin: 0 auto;
  margin-top: 16px;

  padding: 26px 32px;

  background-color: #000;
  border-radius: 26px;
}

.cart .product-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart .product-name img {
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

.cart .product-name p {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.cart .product-name .quantidade input {
  width: 16px;
  height: 16px;
}

.cart .price p {
  margin-left: 25px;
}





/* === FOOTER STYLIZATION === */
footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

footer strong {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(201, 204, 207);
}

footer .top-contact h1 {
  color: rgb(201, 204, 207);
}

footer .top-contact i {
  color: rgb(201, 204, 207);
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
}

footer .contact-info strong i {
  margin-right: 8px;
}

.top-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-top: 50px;
}





/* === RESPONSIVE SIZE LIMITATIONS === */
@media(max-width: 1220px) {
  /* === HEADER STYLIZATION === */
  .slogan {
    width: 100vw;
  }

  .slogan i {
    font-size: 17px;
  }

  .slogan a {
    font-size: 16px;
  }

  .slogan .guitart h1 {
    font-size: 22px;
  }

  .slogan .guitart h3 {
    display: none;
  }



  /* === TOP MENU STYLIZATION === */
  .top-content {
    width: 100vw;
    height: 4vh;
  }

  .top-content .logo {
    background-image: none;
    display: none;
  }



  /* === CONTENT STYLIZATION === */
  .content {
    max-width: 800px;
  }

  .cart {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 25px;
  }

  .cart .product-name {
    display: grid;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .cart .product-name img {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    width: 70%;
    height: 30vh;
  }

  .cart .product-name p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .cart .product-name .quantidade .numbers {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .cart .description {
    margin: 0 16px;
  }

  .cart .price {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 35px;
  }



  /* === FOOTER STYLIZATION === */
  footer {
    max-width: 500px;
    width: 100%;

    display: grid;
    align-items: center;
    justify-content: center;
  }

  .top-contact {
    margin: 0 auto;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;

    margin-bottom: 18px;
  }

  .top-contact h1 {
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .top-contact i {
    margin: 0 auto;
    font-size: 12px;
  }

  .contact-info {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-info strong {
    margin: 5px 0;
  }
}

@media(max-width: 893px) {
  .content {
    max-width: 700px;
  }
}

@media(max-width: 770px) {
  .content {
    max-width: 500px;
  }
}

@media(max-width: 680px) {
  .content {
    max-width: 400px;
  }
}
