/* === PAGE FONT IMPORT (FONT-FAMYLI) === */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');





/* === HTML TAGS STYLIZATION === */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'New Rocker', cursive;  -webkit-font-smoothin: antialised;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color:	rgba(0, 0, 0, 0.904);
}





/* === HEADER STYLIZATION === */
.slogan {
  color: rgb(201, 204, 207);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan .guitart {
  margin-top: 10px;
  margin-bottom: 5px;
}

.slogan .slogan-guitart {
  margin-bottom: 8px;
}






/* === TOP MENU STYLIZATION === */
.top-content {
  background-color: rgba(85, 20, 20, 0.747);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4%;
}

.top-content a {
  color: rgb(201, 204, 207);
}

.top-content .logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 2px;
  margin-left: 12px;
}

.top-content .right-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content .right-icons a {
  margin-right: 12px;
}





/* === MID MENU STYLIZATION === */
.mid-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  color: rgb(201, 204, 207);
}

.mid-content .background {
  width: 100%;
}

.mid-content .background img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.mid-content .text {
  display: flex;
  flex-direction: column;
  position: absolute;

  margin-bottom: 22px;
}

.mid-content .text p {
  font-size: 18px;
}

.mid-content .wrap-button {
  width: 100%;
}





/* === BUTTON === */
.wrap-button {
  background-color: rgba(85, 20, 20, 0.747);
  border-radius: 8px;
  width: 19%;
  height: 50px;
  border: 2px solid transparent;
  transition: .2s;
  margin-top: 5px;
}

.wrap-button a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  text-decoration: none;
  color: rgb(201, 204, 207);
  font-size: 16px;
  transition: .2s;
}

.wrap-button:hover {
  background-color: rgba(97, 47, 47, 0.534);
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}

.wrap-button a:hover {
  color: rgb(154, 158, 161);
  background-color: rgba(128, 28, 28, 0.534);
}

.wrapper .div-login .form .wrap-button:hover {
  color: black;
  border: 2px solid #000;
  background-color: transparent;
}





/* === PRODUCTS EXHIBITION === */
.bottom-content {
  width: 100vw;
  margin-top: 35px;
  color: rgb(201, 204, 207);
}

.bottom-content .bottom-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content .bottom-title p {
  font-size: 24px;
}

.bottom-products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
}

.bottom-content .bottom-products .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.bottom-content .product1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.bottom-content .product1 p {
  margin-left: 15px;
  margin-right: 15px;
}

.bottom-content .product1 img {
  height: 250px;
  width: 250px;
}

.bottom-content .product1 button {
  margin-top: 25px;
  width: 70%;
  background-color: rgba(85, 20, 20, 0.747);
  border: none;
  color: rgb(201, 204, 207);
  font-size: 18px;
  height: 4vh;
}

.bottom-content .bottom-products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.bottom-content .bottom-products .product1 {

  display: flex;
  align-items: center;
}





/* === BUTTON === */
.bottom-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.wrap-button2 {
  background-color: rgba(85, 20, 20, 0.747);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  transition: .2s;
  padding: 20px;
}

.wrap-button2 i {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(201, 204, 207);
  font-size: 28px;
  transition: .2s;
}

.wrap-button2:hover {
  background-color: rgba(128, 28, 28, 0.534);

  transition: .2s solid transparent;
}





/* == VIDEO CONTENT STYLIZATION == */
.video-content {
  width: 100vw;
  margin-top: 55px;
  color: rgb(201, 204, 207);
}

.video-content .bottom-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-content .bottom-title p {
  font-size: 24px;
}

.video-content .video {
  margin-top: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}





/* == REVIEW CONTENT STYLIZATION == */
.review-content {
  width: 100vw;
  margin-top: 55px;
  color: rgb(201, 204, 207);
}

.review-content .bottom-content-review {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-content .bottom-content-review p {
  font-size: 24px;
}

.review-content .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-content .stars img {
  width: 15%;
}

.review-content .reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}





/* === RESPONSIVE SIZE LIMITATIONS === */
@media(max-width: 880px) {
  .slogan {
    font-size: 12px;
    width: 100vw;
  }

  .top-content {
    width: 100vw;
    height: 4vh;
  }

  .top-content .logo {
    background-image: none;
    display: none;
  }

  .mid-content .text {
    width: 40%;
  }

  .mid-content .text {
    margin-bottom: 8px;
  }

  .mid-content .text p {
    font-size: 12px;
    margin: 0 auto;
  }

  .mid-content .text .wrap-button a {
    font-size: 16px;
  }

  .wrap-button {
    height: 28px;
  }

  .bottom-content .bottom-products .content {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .bottom-products .product1 p {
    font-size: 16px;
  }

  .bottom-content .product1 button {
    font-size: 18px;
  }
}





@media(max-width: 580px) {
  .top-content .logo a {
    font-size: 8px;
  }

  .wrap-button a {
    font-size: 8px;
    width: 100%;
  }

  .mid-content h1 p {
    font-size: 8px;
  }
}

